
<%= form_for(:favorite, remote: 'true', url: delete_selected_favorites_url, html: {:'data-type'=>'json', :multipart=> true, class: 'form-horizontal block-attribute-list', id: 'delete_favorite_form'}) do |f| %>

  <div class="form-group">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Favorite</th>
            <th>Attribute1</th>
            <th>Attribute2</th>
            <th>Attribute3</th>
            <th><input class="checkbox" type="checkbox" /></th>
          </tr>
        </thead>
        <tbody>
          <% @favorites.each do |favorite| %>
          <tr>
            <td><%= favorite.category.name %></td>
            <td><%= favorite.person_type.name %></td>
            <td><%= favorite.size.name %></td>
            <td><%= favorite.search_word %></td>
            <td><input class="checkbox" type="checkbox" name="favorite[id_<%= favorite.id %>]" /></td>
          </tr>
          <% end %>
        </tbody>                                                  
      </table>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <button class="btn btn-danger pull-right delete-favorites" type="submit">Delete Selected</button>
    </div>    
  </div>
<% end %>