<%= form_for(@favorite, url: user_favorites_url, html: { class: 'form-horizontal block-setting-form', role: 'form'}) do |f| %>
  <div class="form-group">    
    <div class="col-md-2">
      <label class="control-label" for="search_word">Search Word</label>
    </div>
    <div class="col-md-4">
      
      <%= f.text_field :search_word, class: 'form-control', placeholder: 'ex Kitchen Aid, Burley' %>
    </div>  
  </div>

  <div class="form-group">    
    <div class="col-md-12">
      <label class="control-label">Category</label>
    </div>
  </div>
  <div class="form-group">      
    <div class="col-md-4">
      <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name, @favorite.category_id), {}, {:class=> 'form-control'} %>       
      </div>
      <div class="col-md-4">
        <%= f.select :person_type_id, options_from_collection_for_select(PersonType.all, :id, :name, @favorite.person_type_id), {}, {:class=> 'form-control'} %>
        
      </div>
      <div class="col-md-4">        
        <%= f.select :size_id, options_from_collection_for_select(Size.all, :id, :name, @favorite.person_type_id), {}, {:class=> 'form-control'} %>        
      </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <button class="btn btn-primary pull-right" type="submit">Save as Favorite</button>
    </div>
  </div>
<% end %>