<div class="page-header">
  <h3>All Users</h3>
</div>

<div class="row">
  <form role="search" class="navbar-form">
    <div class="form-group">
      <input type="text" placeholder="Search" class="form-control">
    </div>
    <button class="btn btn-default" type="submit">Search</button>
  </form>
</div>

<%= form_for(:user, url: delete_selected_users_admins_url, remote: true, html: {:'data-type'=>'json', :multipart=> true, class: 'form-horizontal', id: 'delete_users_form'} ) do |f| %>

<table class="table table-hover   table-bordered">
  <thead>    
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Referal</th>
      <th>Paid</th>
      <th>Status</th>      
      <th>Edit</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td>test ref</td>
      <td>Paid</td>
      <td>Active</td>
      <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, '', class: '' %> </td>
      <td><input type="checkbox" name="user[id_<%= user.id %>]" /></td>
    </tr>
    <% end %>    
  </tbody>
</table>
<div class="form-actions pull-right">
  <button class="btn btn-danger" type="submit">Delete Selected</button>
</div>
<% end %>