
<%= form_for(@item, html: {class: 'form-horizontal', role: "form"}) do |f| %>
    <div class="col-md-4">
      <div class="col-md-12 thumbnail">
        <%= image_tag 'items/no_image.jpg', class: 'img-responsive center-block', style: 'width: 100%;height:100%;' %>
      </div>
      <div class="col-md-4 thumbnail">
        <%= image_tag 'items/no_image.jpg', class: 'img-responsive center-block', style: 'width: 100%;height:100%;' %>
      </div>
      <div class="col-md-4 thumbnail">
        <%= image_tag 'items/no_image.jpg', class: 'img-responsive center-block', style: 'width: 100%;height:100%;' %>
      </div>
      <div class="col-md-4 thumbnail">
        <%= image_tag 'items/no_image.jpg', class: 'img-responsive center-block', style: 'width: 100%;height:100%;' %>
      </div>
      <a class="btn btn-default col-md-12">Upload Photo</a>   
    </div>
    <div class="col-md-8">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" for="search_word">Item Name</label>
        </div>
      </div>
      <div class="col-md-8">    
        <div class="form-group">              
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
        </div>
      </div>      
      <div class="col-md-12">        
        <div class="form-group">          
          <%= f.text_area :desc, class: 'form-control', rows: 6 %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <div class="col-md-4">          
            <label class="control-label">Price:</label>          
          </div>
          <div class="col-md-4">            
            <%= f.text_field :price, class: 'form-control' %>
          </div>
          <div class="col-md-4">
            <div class="checkbox">
              <label>                
                <%= f.check_box :is_negotiable, class: 'checkbox' %> Negotiable                
              </label>
            </div>        
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label" for="search_word">Conditions</label>
        </div>
      </div>
      <div class="col-md-8">    
        <div class="form-group">
          <% Condition.all.each do |condition| %>    
          <div class="radio">
            <label>                            
              <%= f.radio_button :condition_id, condition.id, :checked=>(condition.id==@item.condition_id) %>              
              <%= condition.desc %>              
            </label>
          </div>
          <% end %>
          
        </div>
      </div>
    </div>
    <!-- Categories -->
    
    <div class="form-group">    
      <div class="col-md-12">
        <label class="control-label">Category</label>
      </div>        
    </div>
    <div class="form-group"> 
      <div class="col-md-4">
        <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name, @item.category_id), {}, {:class=> 'form-control'} %>       
      </div>
      <div class="col-md-4">
        <%= f.select :person_type_id, options_from_collection_for_select(PersonType.all, :id, :name, @item.person_type_id), {}, {:class=> 'form-control'} %>
        
      </div>
      <div class="col-md-4">        
        <%= f.select :person_type_id, options_from_collection_for_select(Size.all, :id, :name, @item.person_type_id), {}, {:class=> 'form-control'} %>        
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-md-4">
        <label class="control-label">Manufacture link</label>
      </div>
      <div class="col-md-8">
        <%= f.text_field :link, class: 'form-control' %>        
      </div>
    </div>
    <%= f.submit 'Submit', class: 'btn btn-default' %>  
<% end %>
