<div class="col-md-12 form-horizontal item-block">  
  <div class="col-md-3">    
    <div class="form-group thumbnail">
      <%= image_tag 'items/no_image.jpg', class: 'img-responsive center-block', style: 'width: 100%;height:100%;' %>
    </div>    
    <div class="form-group">
      <div class="col-md-6">
        <button class="btn btn-default row">Mine</button>
      </div>
      <div class="col-md-6 pull-right">
        <div class="row">
          <button class="btn btn-default col-md-6">
            <i class="fa fa-arrow-left"></i>          
          </button>
          <button class="btn btn-default col-md-6">
            <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">      
      <button class="btn btn-warning col-md-6">Make Offer</button>
      <div class="col-md-6">              
        <label class="row form-control pull-right">50.00</label>
      </div>
    </div>
  
  </div>

  <div class="col-md-9">

    <ol class="breadcrumb">
      <li><a href="#"><%= item.category.name %></a></li>
      <li><a href="#"><%= item.person_type.name %></a></li>
      <li class="active"><%= item.size.name %></li>
    </ol>
    
    <div class="col-md-4">
      
      <label class="control-label" for="search_word">Item Name:</label>
      
    </div>
    <div class="col-md-8">    
      
        <label class="form-control"><%= item.name %></label>
      
    </div>
    <div class="col-md-12">
      
        <label class="control-label" for="description">Description:</label>
      
    </div>      
    <div class="col-md-12">        
      <br/>
      <p><%= item.desc %></p>
      
    </div>
  
    <div class="col-md-4">      
        <label class="control-label">Manufacture link:</label>      
    </div>
    <div class="col-md-8">
      <label class="form-control"><a href="<%= item.link %>"><%= item.link %></a></label>           
    </div>
  
    
  </div>

</div>
