<div class="col-md-12 form-horizontal item-block">  
  <div class="col-md-3">    
    <div class="form-group thumbnail thumbnail-<%=item.id%>">
      <% ary_thumbnails = get_thumbnails(item) %>
      <% if ary_thumbnails.empty? %>

        <%= image_tag 'no_image.jpg', class: 'img-responsive center-block', style: 'width: 100%;height:100%;' %>
        
      <% else %>
        <% ary_thumbnails.to_enum.with_index(1) do |photo, i| %>
          
          <% 
            img_style = 'inactive'
            img_style="active" if i==1 
          %>
          <%= image_tag photo, class: 'img-responsive center-block '+ img_style, style: 'width: 100%;height:100%;' %>
        <% end %>
      <% end %>
    </div>    
    <div class="form-group">
      <div class="col-md-6">    
        <% btn_style = (item.bid_user_id == current_user.id) ? 'btn-success' : 'btn-default' %>    
        <button class="btn <%=btn_style%> row btn-set-mine" action="<%= set_mine_item_url(item.id) %>">Mine</button>        
      </div>
      <div class="col-md-6 pull-right">
        <div class="row">          
          <button class="btn btn-default col-md-6 btn-img-preview" data-item-id="<%= item.id%>">
            <i class="fa fa-arrow-left"></i>          
          </button>
          <button class="btn btn-default col-md-6 btn-img-next"  data-item-id="<%= item.id%>">
            <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">      
      <button class="btn btn-warning col-md-5">Make Offer</button>
      <div class="col-md-7"> 
        <% if item.is_negotiable %>             
        <input class="row form-control pull-right" value="<%= number_to_currency(item.price) %>" />

        <% else %>
        <label class="row form-control pull-right"><%= number_to_currency(item.price) %></label>
        <% end %>
      </div>
    </div>
  
  </div>

  <div class="col-md-9">

    <ol class="breadcrumb">
      <li><a href="#"><%= item.category.name %></a></li>
      <li><a href="#"><%= item.person_type.name %></a></li>
      <li class="active"><%= item.size.name %></li>
    </ol>
    
    <div class="col-md-4">
      
      <label class="control-label" for="search_word">Item Name:</label>
      
    </div>
    <div class="col-md-8">    
      
        <label class="form-control"><%= item.name %></label>
      
    </div>
    <div class="col-md-12">
      
        <label class="control-label" for="description">Description:</label>
      
    </div>      
    <div class="col-md-12">        
      <br/>
      <p><%= item.desc %></p>
      
    </div>
  
    <div class="col-md-4">      
        <label class="control-label">Manufacture link:</label>      
    </div>
    <div class="col-md-8">
      <label class="form-control"><a href="<%= item.link %>"><%= item.link %></a></label>           
    </div>
  
    
  </div>

</div>
