<% if @items.count > 0 %>
  <% @items.each_with_index do |item, i| %>
    <% 
      if i == 0 
        place = '1st'
        style = "btn-success"
      elsif i ==1 
        place = '2nd'
      elsif i == 2
        place = '3rd'
      else
        place = (i+1).to_s + 'th'
      end
      if i > 0 && i < 6 
        style = "btn-warning" 
      end
      if i>5
        style = "btn-danger"
      end
    %>

    <a type="button" class="btn <%= style %> col-md-12"> <%= get_username(item.bid_user_id) %>  <%=place%>  <%=item.name%> <%= number_to_currency(item.price)%></a>

  <% end %>
<% else %>
  
  <h4>No activity</h4>

<% end %>