<!DOCTYPE html>
<html>
<head>
  <title>Binbuds</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

  <%= csrf_meta_tags %>
  <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>

</head>
<body>
  
  <div class="container">
    
    
      
    <%= yield %>
    

  </div>  

</body>
</html>

<div id="fb-root"></div>
<script>
  // window.fbAsyncInit = function() {
  //   FB.init({
  //     appId      : <%= ENV["FACEBOOK_ID"] %>,
  //     status     : true,
  //     xfbml      : true
  //   });
  // };  
  // (function(d, s, id){
  //   var js, fjs = d.getElementsByTagName(s)[0];
  //   if (d.getElementById(id)) {return;}
  //   js = d.createElement(s); js.id = id;
  //   js.src = "//connect.facebook.net/en_US/all.js";
  //   fjs.parentNode.insertBefore(js, fjs);
  // }(document, 'script', 'facebook-jssdk'));
</script> 

<script>

  // var lat = '';
  // var lng = '';
  // var address = {zipcode} or {city and state};
  // geocoder.geocode( { 'address': address}, function(results, status) {
  //   if (status == google.maps.GeocoderStatus.OK) {
  //      lat = results[0].geometry.location.lat();
  //      lng = results[0].geometry.location.lng();
  //     });
  //   } else {
  //     alert("Geocode was not successful for the following reason: " + status);
  //   }
  // });
  // alert('Latitude: ' + lat + ' Logitude: ' + lng);


// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see a blank space instead of the map, this
// is probably because you have denied permission for location sharing.

var map;

function initialize() {
  var mapOptions = {
    zoom: 6
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  handleNoGeolocation(false);
  return true;
  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);
      //var pos = new google.maps.LatLng(1000, 3000);

      var infowindow = new google.maps.InfoWindow({
        map: map,
        position: pos,
        content: 'Location found using HTML5.'
      });

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
